/* Body CSS - Background Image */
body {
    background-image: url("./images/background.png") !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

h1, p {
    font-family: 'Poller One';
    color: black;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

/* Movies Container */
.card {
    background-color: #111010;
    width: 470px;
    margin: 50px 30px 0px 0px;
}

/* Custom button */
#favBtn {
    background-color: #4CAF50;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 0;
  }

#favBtn:hover {
    cursor: pointer;
    background-color: rgb(14, 100, 17);
}

#delBtn {
    background-color: #f00;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 0;
  }

#delBtn:hover {
    cursor: pointer;
    background-color: rgb(168, 10, 10);
}

/* Navbar Background */
.bg-dark {
    background-color: transparent !important;
}
